
@{
    ViewBag.Title = "Create";
}
<div class="container">
    <h2>Create Category</h2>
    <form id="createCategory" method="post" class="form-group">
        <div class="row">
            <div class="col-md-8">
                <label>Name</label>
                <input class="form-control" name="Name" />
                <br />
                <label>Description</label>
                <input class="form-control" name="Description" />
                <br />
                <label>isFeatured?</label>
                <input class="form-control" name="isFeatured" type="radio" value="true" />True
                <input class="form-control" name="isFeatured" type="radio" value="false" />False
                <br />
                <input class="form-control" id="imageUpload" type="file" />

            </div>
            <div class="col-md-4">
                <input name="ImageURL" id="ImageURL" type="hidden" />
                
                <img src="~/Content/images/shop/images.png" style="width:550px; height:300px;" id="categoryImage">
            </div>

        </div>
        
        
        
       

        <button id="saveBtn" type="button">Save</button>
    </form>
    <script>
        $("#imageUpload").change(function () {
            var element = this;
            var formData = new FormData();
            var totalFiles = element.files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = element.files[i];
                formData.append("Photo", file);
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UploadImage", "Shared")',
                dataType: 'json',
                data: formData,
                contentType: false,
                processData: false
            })
            .done(function (response) {
                console.log(response);
                if (response.Success) {
                    $("#ImageURL").val(response.ImageURL);
                    $("#categoryImage").attr("src", response.ImageURL);
                   

                }
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("FAIL");
            });
        });
        $("#saveBtn").click(function () {
            $.ajax({
                type: 'POST',
                url: '/Category/Create',
                data: $('#createCategory').serialize()
            })
            .done(function (response) {
                console.log(response);
                $('#searchTable').html(response);
                $('#newCategory').html("");
            })
            .fail(function (XMLHttpRequest,textStatus,errorThrown) {

            })
        })
    </script>

 </div>

