@model ClothBazar.Entity.Category
@{
    ViewBag.Title = "Edit";
   
    var trueChecked = Model.IsFeatured ? "checked":string.Empty;
    var falseChecked = Model.IsFeatured ? string.Empty : "checked";
    
}

<h2>Create</h2>
<form method="post">
     
 
    <input name="ID" value="@Model.ID" type="hidden" />
    <label>Name</label>
    <input name="Name" value="@Model.Name" />
    <br />
    <label>Description</label>
    <input name="Description" value="@Model.Description" />
    <br />
    <label>IsFeatured?</label>
    <input name="isFeatured" type="radio" value="true" @trueChecked/>True
    <input name="isFeatured" type="radio" value="false" @falseChecked/>False
    <br />
    <button type="submit">Save</button>
    
</form>


