@{
    ViewBag.Title = "Category(Home)";

}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<div id="searchTable">
@{
    Html.RenderAction("CategoryTable");

}
</div>
<div id="newCategory">

</div>
