
@{
    ViewBag.Title = "Product(Home)";
   
}

<div class="row">
    <div class="col-md-12">
        <div class="title-section">
            <h2 class="title">
                Product
            </h2>
        </div><!-- /.title-section -->
    </div><!-- /.col-md-12 -->
</div>

<div class="container">

    <div id="tableContainer">
        @{
            Html.RenderAction("ProductTable");

        }
    </div>
    <hr />
    <div id="newContainer">

    </div>
    <hr />
    <div id="editCategory">

    </div>
</div>



